<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlConn"
			connectionString="server=ATENEA\MSSQLSERVER01;Database=Registros;Trusted_Connection=True;TrustServerCertificate=True;Connection Timeout=5;MultipleActiveResultSets=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	</configuration>